* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#canvas {
  background: #333;
}

#btnWrap {
  display: flex;
  justify-content: center;
}

#btnGenerate {
  background: crimson;
  font-size: 2rem;
  width: 10rem;
  height: 4rem;
  position: absolute;
  bottom: 10%;
}
